In [1]:
import pandas as pd
import numpy as np
import math
#imports

In [2]:
df=pd.read_csv("HousingData.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [4]:
df.describe()
df["MEDV"].max()

50.0

In [5]:
df[["CRIM", "ZN", "INDUS", "CHAS", "AGE", "LSTAT"]]=df[["CRIM", "ZN", "INDUS", "CHAS", "AGE", "LSTAT"]].fillna(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [7]:
df["CRIM"].replace(0, df["CRIM"].mean())
df["ZN"].replace(0, df["ZN"].mean())             
df["INDUS"].replace(0, df["INDUS"].mean())
df["AGE"].replace(0, df["AGE"].mean())
df["CHAS"].replace(0, df["CHAS"].mean())
df["LSTAT"].replace(0, df["LSTAT"].mean())

#cleaning the data

0       4.980000
1       9.140000
2       4.030000
3       2.940000
4      12.212846
         ...
501    12.212846
502     9.080000
503     5.640000
504     6.480000
505     7.880000
Name: LSTAT, Length: 506, dtype: float64

In [8]:
df["LSTAT"].count()

506

In [9]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.185559,0.379772,-0.055713,0.410918,-0.220340,0.328997,-0.365901,0.600505,0.559880,0.278243,-0.364886,0.411330,-0.384120
ZN,-0.185559,1.000000,-0.482670,-0.032992,-0.498619,0.312295,-0.470146,0.632428,-0.300061,-0.304385,-0.394622,0.170125,-0.361012,0.362292
INDUS,0.379772,-0.482670,1.000000,0.055833,0.690250,-0.339054,0.488737,-0.662476,0.564867,0.687468,0.372852,-0.341514,0.492359,-0.441371
CHAS,-0.055713,-0.032992,0.055833,1.000000,0.070867,0.106797,0.054485,-0.092318,-0.003339,-0.035822,-0.109451,0.050608,-0.040427,0.183844
NOX,0.410918,-0.498619,0.690250,0.070867,1.000000,-0.302188,0.627476,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.549209,-0.427321
RM,-0.220340,0.312295,-0.339054,0.106797,-0.302188,1.000000,-0.227535,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.584754,0.695360
AGE,0.328997,-0.470146,0.488737,0.054485,0.627476,-0.227535,1.000000,-0.641898,0.420382,0.459859,0.239508,-0.214615,0.503452,-0.356699
DIS,-0.365901,0.632428,-0.662476,-0.092318,-0.769230,0.205246,-0.641898,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.456922,0.249929
RAD,0.600505,-0.300061,0.564867,-0.003339,0.611441,-0.209847,0.420382,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.438134,-0.381626
TAX,0.559880,-0.304385,0.687468,-0.035822,0.668023,-0.292048,0.459859,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.494026,-0.468536
PTRATIO,0.278243,-0.394622,0.372852,-0.109451,0.188933,-0.355501,0.239508,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.329796,-0.507787
B,-0.364886,0.170125,-0.341514,0.050608,-0.380051,0.128069,-0.214615,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.369638,0.333461
LSTAT,0.411330,-0.361012,0.492359,-0.040427,0.549209,-0.584754,0.503452,-0.456922,0.438134,0.494026,0.329796,-0.369638,1.000000,-0.695405
MEDV,-0.384120,0.362292,-0.441371,0.183844,-0.427321,0.695360,-0.356699,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.695405,1.000000

Biggest positive correlation with the value of the home is RM - rooms per dewlling, 
because intuitively more rooms equals more expansive and better

Another big but negative correlation is LSTAT - percentage of lower status population, 
because people suck and don't want to live near poor people

In [10]:
df_corr=df[["RM", "PTRATIO", "LSTAT", "MEDV"]]
df_corr

        RM  PTRATIO  LSTAT  MEDV
0    6.575     15.3   4.98  24.0
1    6.421     17.8   9.14  21.6
2    7.185     17.8   4.03  34.7
3    6.998     18.7   2.94  33.4
4    7.147     18.7   0.00  36.2
..     ...      ...    ...   ...
501  6.593     21.0   0.00  22.4
502  6.120     21.0   9.08  20.6
503  6.976     21.0   5.64  23.9
504  6.794     21.0   6.48  22.0
505  6.030     21.0   7.88  11.9

[506 rows x 4 columns]

In [28]:
class LinearRegressionSMLH():
    #Define class to store functions


    def __init__(self):
        self.params__=None
        """
        Initializes the linear regression model
        
        Stores the self.params__ variable which are the weights that the model returns
        """


    def gradientDescent(self, X:np.ndarray, y:np.ndarray, learning_rate=0.00001,
        iterations=500, batch_size=16):

        """This function applies the Gradient Descent model to the dataset
        param X: numpy.ndarray
            The X matrix containing the independent variable columns.
        param y: numpy.ndarray
            The target vector y."""
        
        #Add a column of ones for the constant term
        X = np.concatenate([X, np.ones_like(y)], axis = 1)
        rows, cols = X.shape

        #Combine the X and y columns to more easily shuffle it later
        X = np.append(X, y, axis=1)

        #Make the initial random guess for w
        w = np.random.random((cols, 1))

        #Go through all the iterations
        for i in range(iterations):

            #Shuffle the rows of the data
            np.random.shuffle(X)

            #Define X and y again
            y_it = X[:, -1].reshape((rows, 1))
            X_it = X[:, :-1]

            #Iterate through the batches
            for batch in range(math.ceil(rows / batch_size)):

                batch_start = batch * batch_size
                
                #Cut a batch from the dataset
                x_batch = X_it[batch_start : min(batch_start + batch_size, X.shape[0])]
                y_batch = y_it[batch_start : min(batch_start + batch_size, X.shape[0])]

                #Subtract the gradient from our previous estimation
                w -= learning_rate * np.matmul(x_batch.transpose(), (np.matmul(x_batch, w) - y_batch))

        self.params__= w
        return self
    
    
    def predict(self, X:np.ndarray):
        #predict given the data X
        X = np.concatenate([X, np.ones(X.shape[0]).reshape
        ((X.shape[0], 1))], axis=1)

        return np.matmul(X, self.params__)

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [13]:
X_train, X_test, y_train, y_test = train_test_split(df[df.columns[1:13]], df["MEDV"], test_size=0.3, random_state=56)

In [14]:
#training the sklearn model
lr_sklearn=LinearRegression()
lr_sklearn.fit(X_train, y_train)

y_pred=lr_sklearn.predict(X_test)
mean_squared_error(y_pred, y_test)
mean_absolute_error(y_pred, y_test)

3.655355871048541

In [27]:
lr_smlh=LinearRegressionSMLH()
lr_smlh.gradientDescent(X_train, y_train)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)